# API
PORT=3000
FRONTEND_URL=http://localhost:5173
BETTER_AUTH_SECRET=8R31aFkADULS4pfkv5c8uP9IS1OSxr7okaKn9dCbqMk=
BETTER_AUTH_URL=http://localhost:3000
SKIP_MIGRATIONS=false

# Frontend (Vite)
VITE_API_URL=http://localhost:3000/api/auth
VITE_DATE_FORMAT=YYYY-MM-DD
